<!-- Copyright (C) 2018 Miguel Chavez Gamboa
 miguel@codea.me

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div [@routerTransition]  *ngIf="!auth.isAuthenticated() || !auth.userHasScopes(['read:all_data'])">
    <h2 class="text-muted">Welcome <small>{{profile?.name}}</small></h2>
    <h3 *ngIf="!auth.userHasScopes(['read:all_data'])">It seem you do not have the permissions to access this data. If you think you should have it, contact the administrator.</h3>
</div>
<div [@routerTransition] *ngIf="auth.isAuthenticated() && auth.userHasScopes(['read:all_data'])">
    <div class="row">
            <h2 class="text-muted">MailChimp <small>Campaigns List</small> <button type="button" class="btn btn-sm btn-outline-primary" (click)="toggleFilters()">{{btnFiltersText}}</button></h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="filterDiv"  *ngIf="showFilters" [@expandCollapse]>
            <div class="card no-overflow" style="background-color:#ffedfa; border: 1px solid rgba(255, 0, 162, 0.1);">
                <div class="card-body no-overflow">
                        <div class="row">
                                <div class="col-md-4">
                                        <div class="card bg-light">
                                            <div class="card-header" style="padding:6px;">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="filterByTitleOrAccount" [(ngModel)]="filterOptions.filterByAccountOrTitle" (change)="updateFilter($event)"> Filter by Account or Title
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="card-body" style="padding:6px; padding-top:1px; padding-bottom:1px;">
                                                    <input
                                                    type='text'
                                                    style='padding:5px;margin:5px auto; width:100%;'
                                                    placeholder='Type to filter ...'
                                                    (keyup)='updateFilter($event)'
                                                    [(ngModel)]="filterOptions.filterByText"
                                                    name="filterText"
                                                />
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" id="textByAccount" name="filterByTitle" [(ngModel)]="filterOptions.filterByAccount" value="Account" (change)="updateFilter($event)"> Filter by Account Name
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="filterByTitle" [(ngModel)]="filterOptions.filterByAccount" (change)="updateFilter($event)" value="Title"> Filter by Title
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-md-4">
                                        <div class="card bg-light">
                                            <div class="card-header" style="padding:6px;">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="filterByTheStatus" [(ngModel)]="filterOptions.filterByTheStatus" (change)="updateFilter($event)"> Filter by # of emails sent
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="card-body" style="padding:6px; padding-top:1px; padding-bottom:1px;">
                                                <!-- <div class="radio">
                                                    <label>
                                                        <input type="radio" name="filterByStatus" value="Sent" [(ngModel)]="filterOptions.filterByStatus" (change)="updateFilter($event)"> Status: Sent
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="filterByStatus" value="NotSent" [(ngModel)]="filterOptions.filterByStatus" (change)="updateFilter($event)"> Status: NOT Sent
                                                    </label>
                                                </div> -->
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="filterByStatus" value="Less" [(ngModel)]="filterOptions.filterByStatus" (change)="updateFilter($event)"> Less than 3000
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="filterByStatus" value="More" [(ngModel)]="filterOptions.filterByStatus" (change)="updateFilter($event)"> More than 3000
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                
                                <div class="col-md-4">
                                        <div class="card bg-light no-overflow">
                                            <div class="card-header" style="padding:6px;">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="filterByTheDate" [(ngModel)]="filterOptions.filterByTheDate" (change)="updateFilter($event)"> Filter by Date
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="card-body no-overflow" style="padding:6px; padding-top:10px; padding-bottom:1px;">
                                                    <form class="form-inline mb-3">
                                                            <div class="form-group">
                                                                <div class="input-group datepicker-input">
                                                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                                                        name="dp" [(ngModel)]="filterOptions.filterByDateStr" (ngModelChange)="onChangeDate($event)" ngbDatepicker #d="ngbDatepicker">
                                                                    <button class="input-group-addon" (click)="d.toggle()" type="button">
                                                                        <span class="fa fa-calendar"></span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                    </form>
                                                <!-- <div class="radio">
                                                    <label>
                                                        <input type="radio" name="filterByDate" value="CreatedAfter" [(ngModel)]="filterOptions.filterByDate" (change)="updateFilter($event)"> Created After
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                        <label>
                                                            <input type="radio" name="filterByDate" value="CreatedBefore" [(ngModel)]="filterOptions.filterByDate" (change)="updateFilter($event)"> Created Before
                                                        </label>
                                                    </div> -->
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="filterByDate" value="SentAfter" [(ngModel)]="filterOptions.filterByDate" (change)="updateFilter($event)"> Sent After
                                                        </label>
                                                    </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="filterByDate" value="SentBefore" [(ngModel)]="filterOptions.filterByDate" (change)="updateFilter($event)"> Sent Before
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
        <div class="card bg-light" style="margin-top:10px">
            <div class="card-header" style="padding: 0.25rem 1.25rem;">
                <div class="row">
                    <div class="col-md-6"><h5 style="margin-bottom:0.25rem">{{rows.length}} Results</h5></div>
                    <div class="col-md-6"><button type="button" class="btn btn-sm btn-primary  pull-right" (click)="exportXLS()">Exportar a XLS</button></div>
                </div>
            </div>
            <div class="card-body">
                    <div class="row row-table" *ngIf="auth.isAuthenticated() && auth.userHasScopes(['read:all_data'])" [style]="getTableHeight()" infiniteScroll
                    [infiniteScrollDistance]="2"
                    [infiniteScrollThrottle]="150"
                    (scrolled)="onScroll()"
                    [scrollWindow]="false">
                        <div class="col-lg" style="margin-top:10px;" *ngFor="let camp of rows">
                            <div class="card bg-light" style="margin-top:5px; min-width:250px;">
                                <div class="card-header titulo-headerX"><h5><span class="count-title pull-right">{{camp.count}}</span>{{camp._id.title}}</h5></div>
                                <div class="card-body">
                                    <p><span class="span-title">Date Sent:</span> <strong class="strong-title pull-right">{{camp._id.send_time|date}}</strong></p>
                                    <p><span class="span-title">Accounts:</span> <strong class="strong-title pull-right">{{camp.account_name.join(', ')}}</strong></p>
                                    <!-- <p><span class="span-title">List Name:</span> <strong class="strong-title pull-right">{{camp.report?.list_name}}</strong></p> -->
                                    <p><span class="span-title">From Name:</span> <strong class="strong-title pull-right">{{camp.title.from_name}}</strong></p>
                                    <p><span class="span-title">Status:</span> <strong class="strong-title pull-right">{{camp._id.status}}</strong></p>
                                    <p><span class="span-title"># of Emails Sent:</span> <strong class="strong-title pull-right">{{camp.emails_sent}}</strong></p>
                                    <p><span class="span-title"># of Unique Opens:</span> <strong class="strong-title pull-right">{{camp.unique_opens}}</strong></p>
                                    <p><span class="span-title">Open Rate:</span> <strong class="strong-title pull-right">{{camp.open_rate| percent}}</strong></p>
                                    <p><span class="span-title"># of Unique Clicks:</span> <strong class="strong-title pull-right">{{camp.clicks}}</strong></p>
                                    <p><span class="span-title">Click Rate:</span> <strong class="strong-title pull-right">{{camp.click_rate| percent}}</strong></p>
                                    <!-- <p><span class="span-title"># of Unsubscribed:</span> <strong class="strong-title pull-right">{{camp.report?.unsubscribed}}</strong></p> -->
                                    <!-- <p><span class="span-title"># of Abuse reports:</span> <strong class="strong-title pull-right">{{camp.report?.abuse_reports}}</strong></p> -->
                                    <!-- <p><span class="span-title"># of Soft bounces:</span> <strong class="strong-title pull-right">{{camp.report?.bounces?.soft_bounces}}</strong></p> -->
                                    <!-- <p><span class="span-title"># of Hard bounces:</span> <strong class="strong-title pull-right">{{camp.report?.bounces?.hard_bounces}}</strong></p> -->
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </div>
    </div>

</div>
