/* Copyright (C) 2018 Miguel Chavez Gamboa
 miguel@codea.me

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

/** MIGUEL **/
div.card-header h4, div.card-header h5 {
    margin-bottom: 0.2rem;
}

div.card-body p {
    margin-bottom: 4px;
}

#filterDiv, .no-overflow {
    overflow-y: visible!important;
}

.titulo-headerX > h5 {
    font-size: 0.95rem;
    color: #0394ff;
}

.count-title {
    top: -10px;
    left: 12px;
    position: relative;
    font-size: 1.2rem;
    color: #b7b7b7;
}

.card-flag {
    height: 50px;
    width: 100%;
    display: block;
    background-position: 100% 0 !important;
    background-color:#e4e4e4;
}

.flag-icon-background {
    border: 0;
    border-top-right-radius: .30rem;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.span-title {
    top: -10px;
    left:-5px;
    position: relative;
    font-size: x-small;
    color: #b7b7b7;
}

.strong-title {
    font-size: .82rem;
    text-align: right;
    color: #717171;
}


.logo-gpsa {
    width: 40px;
}
