/* Copyright (C) 2018 Miguel Chavez Gamboa
 miguel@codea.me

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

$topnav-background-color: #4e4b4b;
/* 
#00ffa5 : Verde
#00c89d

#00a5ff: Azul
#006fff

#838383 : Gris claro
#4e4b4b
#6b6b6b

#ff006c
#ff0036
#ff0075
#ff0087
#ff0063
linear-gradient(145deg,#0d47a1,#42a5f5)

background: rgba(0,115,255,1);
background: -moz-linear-gradient(left, rgba(0,115,255,1) 0%, rgba(0,204,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,115,255,1)), color-stop(100%, rgba(0,204,255,1)));
background: -webkit-linear-gradient(left, rgba(0,115,255,1) 0%, rgba(0,204,255,1) 100%);
background: -o-linear-gradient(left, rgba(0,115,255,1) 0%, rgba(0,204,255,1) 100%);
background: -ms-linear-gradient(left, rgba(0,115,255,1) 0%, rgba(0,204,255,1) 100%);
background: linear-gradient(to right, rgba(0,115,255,1) 0%, rgba(0,204,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0073ff', endColorstr='#00ccff', GradientType=1 );

*/
:host {
    .avatar {
        height: 35px;
        border-radius: 50% !important;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 2px;
        margin: 1px;
    }
    .grande{
        left:-160px!important;
    }
    .navbar {
        background: $topnav-background-color;
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            color: #999;
            &:hover {
                color: #fff;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}
