<!-- Copyright (C) 2018 Miguel Chavez Gamboa
 miguel@codea.me

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div [@routerTransition]  *ngIf="!auth.isAuthenticated() || !auth.userHasScopes(['read:all_data'])">
    <h2 class="text-muted">Welcome <small>{{profile?.name}}</small></h2>
    <h3 *ngIf="!auth.userHasScopes(['read:all_data'])">It seem you do not have the permissions to access this data. If you think you should have it, contact the administrator.</h3>
</div>
<div [@routerTransition]  *ngIf="auth.isAuthenticated() && auth.userHasScopes(['read:all_data'])">
    <div *ngIf="loading">
            <img src="/assets/loading.svg" style="display: block; margin: 20px auto; width: 50px;">
    </div>
    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
        <div class="row">
                <div class="col col-xs-3">
                        <app-stat [bgClass]="'primary'" [icon]="'fa-users'" [count]="statistics?.user_count" [label]="'KP Users'"></app-stat>
                </div>
                <div class="col col-xs-3">
                        <app-stat [bgClass]="'danger'" [icon]="'fa-street-view'" [count]="statistics?.active_users" [label]="'Active Users'"></app-stat>
                </div>
                <div class="col col-xs-3">
                        <app-stat [bgClass]="'warning'" [icon]="'fa-group'" [count]="statistics?.webinar_users" [label]="'ClickMeeting Attendees (No KP users)'" ></app-stat>
                </div>
                <div class="col col-xs-3">
                        <app-stat [bgClass]="'success'" [icon]="'fa-user'" [count]="statistics?.unique_attendees" [label]="'Webinar Attendees'" ></app-stat>
                </div>
        </div>
    <hr />
    <!-- <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert> -->
    <!-- <hr /> -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-user fa-fw"></i> Users Sign up <button type="button" class="btn btn-sm btn-primary  pull-right" (click)="exportXLS('chart_data')">Export table data to XLS</button>
                </div>
                <!-- /.card-header -->
                <canvas baseChart height="100px" [datasets]="[statistics?.alterno]" [labels]="statistics?.users_etiquetas" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- <app-chat></app-chat> -->
            <!-- /.card .chat-card -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-book fa-fw"></i> Details
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <p class="card-text">From the <b>{{statistics?.user_count}}</b> users in the platform, <b>{{statistics?.active_users}}</b> are active users &mdash;those that are returning to the platform at least twice after account creation&mdash;, <b>{{statistics?.users_with_logins}}</b> users that has logged in only once,  and <b>{{statistics?.inactive_users}}</b> which only created the account but never returned.</p>
                        <p class="card-text">At the Clickmeeting platform, there are <b>{{statistics?.unique_attendees}}</b> unique attendees, from which <b>{{statistics?.webinar_users}}</b> does not have a KP account.</p>
                </div>
                
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <br>

            

            <ngb-accordion #acc="ngbAccordion"> <!-- activeIds="ngb-panel-0" -->
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <h6><span>&#9733; <b>Super Users</b> ({{statistics?.super_users.length}}) &#9733;</span></h6>
                        <span class="small-title">Users with five or more sessions, or that have attended two or more webinars.</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <button type="button" class="btn btn-sm btn-primary  pull-right margenes" (click)="exportXLS('super_users')">Export to XLS</button>
                            <table class="table table-sm">
                                    <thead>
                                      <tr>
                                        <th scope="col">Email</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Country</th>
                                        <th scope="col">Session Count</th>
                                        <th scope="col">Comments Count</th>
                                        <th scope="col">Webinar Count</th>
                                        <th scope="col">Organization</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let user of statistics?.super_users">
                                        <td>{{user?.email}}</td>
                                        <td>{{user?.first_name}} {{user?.last_name}}</td>
                                        <td>{{user?.country}}</td>
                                        <td>{{user?.login_count}}</td>
                                        <td>{{user?.comments_count}}</td>
                                        <td>{{user?.webinar_unique_count}}</td>
                                        <td>{{user?.organization}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                    </ng-template>
                </ngb-panel>
                
                <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <h6><span> <b>Lurker Users</b> ({{statistics?.lurker_users.length}})</span></h6>
                            <span class="small-title">Users with five or more sessions, but have not attended webinars or commented on the platform.</span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <button type="button" class="btn btn-sm btn-primary  pull-right margenes" (click)="exportXLS('lurker_users')">Export to XLS</button>
                                <table class="table table-sm">
                                        <thead>
                                          <tr>
                                            <th scope="col">Email</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Country</th>
                                            <th scope="col">Session Count</th>
                                            <th scope="col">Comments Count</th>
                                            <th scope="col">Webinar Count</th>
                                            <th scope="col">Organization</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let user of statistics.lurker_users">
                                            <td>{{user?.email}}</td>
                                            <td>{{user?.first_name}} {{user?.last_name}}</td>
                                            <td>{{user?.country}}</td>
                                            <td>{{user?.login_count}}</td>
                                            <td>{{user?.comments_count}}</td>
                                            <td>{{user?.webinar_unique_count}}</td>
                                            <td>{{user?.organization}}</td>
                                          </tr>
                                        </tbody>
                                      </table>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <h6><span> <b>Non returning users</b> ({{statistics?.arrepentidos.length}}) </span></h6>
                            <span class="small-title">Users with only one session, that have not attended webinars or have not commented on the platform.</span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <button type="button" class="btn btn-sm btn-primary  pull-right margenes" (click)="exportXLS('arrepentidos')">Export to XLS</button>
                                <table class="table table-sm">
                                        <thead>
                                          <tr>
                                            <th scope="col">Email</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Country</th>
                                            <th scope="col">Session Count</th>
                                            <th scope="col">Coments Count</th>
                                            <th scope="col">Webinar Count</th>
                                            <th scope="col">Organization</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let user of statistics?.arrepentidos">
                                            <td>{{user?.email}}</td>
                                            <td>{{user?.first_name}} {{user?.last_name}}</td>
                                            <td>{{user?.country}}</td>
                                            <td>{{user?.login_count}}</td>
                                            <td>{{user?.comments_count}}</td>
                                            <td>{{user?.webinar_unique_count}}</td>
                                            <td>{{user?.organization}}</td>
                                          </tr>
                                        </tbody>
                                      </table>
                        </ng-template>
                    </ngb-panel>

                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <h6><span> <b>One webinar</b> ({{statistics?.users_only_one_webinar.length}}) </span></h6>
                            <span class="small-title">Users with only one webinar, but only registered and never returned.</span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <button type="button" class="btn btn-sm btn-primary  pull-right margenes" (click)="exportXLS('users_only_one_webinar')">Export  to XLS</button>
                                <table class="table table-sm">
                                        <thead>
                                          <tr>
                                            <th scope="col">Email</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Country</th>
                                            <th scope="col">Session Count</th>
                                            <th scope="col">Coments Count</th>
                                            <th scope="col">Webinar Count</th>
                                            <th scope="col">Organization</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let user of statistics?.users_only_one_webinar">
                                            <td>{{user?.email}}</td>
                                            <td>{{user?.first_name}} {{user?.last_name}}</td>
                                            <td>{{user?.country}}</td>
                                            <td>{{user?.login_count}}</td>
                                            <td>{{user?.comments_count}}</td>
                                            <td>{{user?.webinar_unique_count}}</td>
                                            <td>{{user?.organization}}</td>
                                          </tr>
                                        </tbody>
                                      </table>
                        </ng-template>
                    </ngb-panel>

                </ngb-accordion>
                <br>

                <ngb-accordion #acc="ngbAccordion">
                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <h6><span> <b>Clickmeeting only Super Users</b> ({{statistics?.webinar_superuser.length}}) </span></h6>
                            <span class="small-title">Webinar only users (no KP) with more than 2 attendances.</span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <button type="button" class="btn btn-sm btn-primary  pull-right margenes" (click)="exportXLS('webinar_superuser')">Export  to XLS</button>
                                <table class="table table-sm">
                                        <thead>
                                          <tr>
                                            <th scope="col">Email</th>
                                            <th scope="col">Webinar Count</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let user of statistics?.webinar_superuser">
                                            <td>{{user?.email}}</td>
                                            <td>{{user?.webinar_unique_count}}</td>
                                          </tr>
                                        </tbody>
                                      </table>
                        </ng-template>
                    </ngb-panel>


                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <h6><span> <b>Clickmeeting only, One Webinar only</b> ({{statistics?.onetime_webinar_users.length}}) </span></h6>
                            <span class="small-title">Webinar only users (no KP) with only one attendance.</span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <button type="button" class="btn btn-sm btn-primary  pull-right margenes" (click)="exportXLS('onetime_webinar_users')">Export  to XLS</button>
                                <table class="table table-sm">
                                        <thead>
                                          <tr>
                                            <th scope="col">Email</th>
                                            <th scope="col">Webinar Count</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let user of statistics?.onetime_webinar_users">
                                            <td>{{user?.email}}</td>
                                            <td>{{user?.webinar_unique_count}}</td>
                                          </tr>
                                        </tbody>
                                      </table>
                        </ng-template>
                    </ngb-panel>

            </ngb-accordion>
        </div>
        <!-- /.col-lg-8 -->
    </div>
</div>
