<div [@routerTransition]  *ngIf="!auth.isAuthenticated() || !auth.userHasScopes(['read:all_data'])">
    <h2 class="text-muted">Welcome <small>{{profile?.name}}</small></h2>
    <h3 *ngIf="!auth.userHasScopes(['read:all_data'])">It seem you do not have the permissions to access this data. If you think you should have it, contact the administrator.</h3>
</div>
<div [@routerTransition] *ngIf="auth.isAuthenticated() && auth.userHasScopes(['read:all_data'])">
    <div class="row">
            <h2 class="text-muted">ClickMeeting<small> Webinar List</small>
                 <button type="button" class="btn btn-sm btn-outline-primary" (click)="toggleFilters()">{{btnFiltersText}}</button>
            </h2>
    </div>
    
    <div class="row">
        <div class="col-md-12">
          <div id="filterDiv" *ngIf="showFilters" [@expandCollapse]>
              <div class="card no-overflow" style="background-color:#ffedfa; border: 1px solid rgba(255, 0, 162, 0.1);">
                  <div class="card-body no-overflow">
                          <div class="row">
                                <div class="col-md-4">
                                        <div class="card bg-light">
                                            <div class="card-header" style="padding:6px;">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="filterByTheDate" [(ngModel)]="filterOptions.filterByTheDate" (change)="updateFilter($event)"> Filter by Date
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="card-body" style="padding:6px; padding-top:10px; padding-bottom:1px; overflow-y:visible!important;">
                                                    <form class="form-inline mb-3">
                                                            <div class="form-group">
                                                                <div class="input-group datepicker-input">
                                                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                                                        name="dp" [(ngModel)]="filterOptions.filterByDateStr" (ngModelChange)="onChangeDate($event)" ngbDatepicker #d="ngbDatepicker">
                                                                    <button class="input-group-addon" (click)="d.toggle()" type="button">
                                                                        <span class="fa fa-calendar"></span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                    </form>
                                                <div class="radio">
                                                    <label>
                                                       <input type="radio" name="filterByDate" value="After" [(ngModel)]="filterOptions.filterByDate" (change)="updateFilter($event)"> After
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                      <input type="radio" name="filterByDate" value="Before" [(ngModel)]="filterOptions.filterByDate" (change)="updateFilter($event)"> Before
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                </div>

                                  <div class="col-md-4">
                                          <div class="card bg-light">
                                              <div class="card-header" style="padding:6px;">
                                                  <div class="checkbox">
                                                      <label>
                                                          Filter by Webinar Name
                                                      </label>
                                                  </div>
                                              </div>
                                              <div class="card-body" style="padding:6px; padding-top:1px; padding-bottom:1px;">
                                                      <input
                                                      type='text'
                                                      style='padding:5px;margin:5px auto; width:100%;'
                                                      placeholder='Type to filter ...'
                                                      (keyup)='updateFilter($event)'
                                                      [(ngModel)]="filterOptions.filterByText"
                                                      name="filterText"
                                                  />
                                              </div>
                                          </div>

                                          <div class="card bg-light" style=" margin-top:10px;">
                                                <div class="card-header" style="padding:6px;">
                                                    <div class="checkbox">
                                                        <label>
                                                            Filter by Attendees name
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="card-body" style="padding:6px; padding-top:1px; padding-bottom:1px;">
                                                        <input
                                                        type='text'
                                                        style='padding:5px;margin:5px auto; width:100%;'
                                                        placeholder='Type to filter ...'
                                                        (keyup)='updateFilter($event)'
                                                        [(ngModel)]="filterOptions.filterByAttendeeText"
                                                        name="filterAttendeeText"
                                                    />
                                                </div>
                                            </div>
                                  </div>
                                  <div class="col-md-4">
                                          <div class="card bg-light">
                                              <div class="card-header" style="padding:6px;">
                                                  <div class="checkbox">
                                                      <label>
                                                          <input type="checkbox" name="filterByTheAttendeeNumber" [(ngModel)]="filterOptions.filterByTheAttendeeNumber" (change)="updateFilter($event)"> Filter Attendee Count
                                                      </label>
                                                  </div>
                                              </div>
                                              <div class="card-body" style="padding:6px; padding-top:1px; padding-bottom:1px;">
                                                  <div class="radio">
                                                      <input
                                                            type='number'
                                                            style='padding:5px;margin:5px auto; width:100%;'
                                                            placeholder='Enter a number to filter ...'
                                                            (keyup)='updateFilter($event)'
                                                            [(ngModel)]="filterOptions.filterByAttendeeCount"
                                                            name="filterAttendeeCount"
                                                        />
                                                  </div>
                                                  <div class="radio">
                                                      <label>
                                                          <input type="radio" name="filterByAttendees" value="Less" [(ngModel)]="filterOptions.filterByAttendees" (change)="updateFilter($event)"> Less than
                                                      </label>
                                                  </div>
                                                  <div class="radio">
                                                      <label>
                                                          <input type="radio" name="filterByAttendees" value="More" [(ngModel)]="filterOptions.filterByAttendees" (change)="updateFilter($event)"> More than
                                                      </label>
                                                  </div>
                                              </div>
                                          </div>
                                  </div>
                                  
                              </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
            
      <div class="row">
        <div class="col-md-12">
            <div class="card bg-light" style="margin-top:10px">
                <div class="card-header" style="padding: 0.50rem 1.25rem;">
                    <div class="row">
                        <div class="col-md-6"><h5 style="margin-bottom:0.25rem">{{rows.length}}  Results</h5> </div>
                        <div class="col-md-6"><button type="button" class="btn btn-sm btn-primary  pull-right" (click)="exportXLS('webinars')">Exportar a XLS</button></div>
                    </div>
                </div>
                <div class="card-body">
                        <div class="row row-table" *ngIf="auth.isAuthenticated() && auth.userHasScopes(['read:all_data'])" [style]="getTableHeight()">
                                <div class="col-lg-12">
                                        <ngx-datatable
                                            class='bootstrap'
                                            [loadingIndicator]="true"
                                            [columnMode]="'force'"
                                            [headerHeight]="30"
                                            [footerHeight]="30"
                                            [rowHeight]="32"
                                            [rows]="rows"
                                            >
                                            <ngx-datatable-column name="Date" prop="date">
                                                <ng-template let-value="value" ngx-datatable-cell-template>
                                                  <strong>{{value | date}}</strong>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Name" prop="room_name">
                                                <ng-template let-value="value" ngx-datatable-cell-template>
                                                    <strong>{{value}}</strong>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Attendee Count" prop="count"></ngx-datatable-column>
                                        </ngx-datatable>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>


</div>