/** MIGUEL **/

.datatable-pager {
  display:none!important;
}

#collapseExample {
  max-height: 255px;
  min-height: 255px;
}

#filterDiv, .no-overflow {
  overflow-y: visible!important;
}



@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
