<div class="card-body">
    <div class="list-group">
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-comment fa-fw"></i> New Comment
            <span class="float-right text-muted small"><em>4 minutes ago</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-cloud-upload fa-fw"></i> Users Update
            <span class="float-right text-muted small"><em>15 days ago</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-cloud-upload fa-fw"></i> ClickMeeting Update
            <span class="float-right text-muted small"><em>14 days ago</em></span>
        </a>
    </div>
    <!-- /.list-group -->
    <a href="#" class="btn btn-default btn-block">View All Alerts</a>
</div>
