
div.card-header h4, div.card-header h5 {
    margin-bottom: 0.2rem;
}

div.card-body p {
    margin-bottom: 4px;
}

#filterDiv, .no-overflow {
    overflow-y: visible!important;
}

.titulo-header {
    max-width: 300px;
    margin-left: 10px;
    top: 10px;
    position: absolute;
}

.titulo-header > h5 {
    font-size: 0.95rem;
    color: #0394ff;
}

.card-flag {
    height: 50px;
    width: 100%;
    display: block;
    background-position: 100% 0 !important;
    background-color:#e4e4e4;
}

.flag-icon-background {
    border: 0;
    border-top-right-radius: .30rem;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.span-title {
    top: -10px;
    left:-5px;
    position: relative;
    font-size: x-small;
    color: #b7b7b7;
}

.strong-title {
    font-size: .82rem;
    text-align: right;
    color: #717171;
}


.logo-gpsa {
    width: 40px;
}

$flag-icon-css-path: '~flag-icon-css/flags' !default;
@import "~flag-icon-css/sass/flag-icon";

// @import '~@swimlane/ngx-datatable/release/themes/material.css';
// @import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
// @import '~@swimlane/ngx-datatable/release/assets/icons.css';